.ham{
	padding: 30px 0;
}

.showcase{
	background: url('../CSS/foto.jpg') no-repeat;
	background-position: center;
	padding: 140px 100px;
	color: #fff;
}

.showcase h1{

	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.showcase hr{

	width: 100px;
	margin: auto;
	border-color: red;
}

.section {

	padding: 150px 0;
}

p{
   font-family: "brandon-grotesque","helvetica neue","helvetica",sans-serif;
}

